<!DOCTYPE html>

<html>
  <head>
    <title>Los cuentos de Nerea</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="list-group">
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/cenicienta" 
          class="list-group-item list-group-item-action" target="_blank">La Cenicienta</a>
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/la-sirenita"
          class="list-group-item list-group-item-action" target="_blank">La Sirenita</a>
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/caperucita-roja"
         class="list-group-item list-group-item-action" target="_blank">Caperucita Roja</a>
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/hansel-y-gretel" 
          class="list-group-item list-group-item-action" target="_blank">Hansel y Gretel</a>
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/peter-pan" 
          class="list-group-item list-group-item-action" target="_blank">Peter Pan</a>
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/los-tres-cerditos" 
          class="list-group-item list-group-item-action" target="_blank">Los tres cerditos</a>
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/la-princesa-y-el-guisante" 
          class="list-group-item list-group-item-action" target="_blank">La princesa y el guisante</a>
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/la-lampara-de-aladino" 
          class="list-group-item list-group-item-action" target="_blank">Aladdin</a>
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/la-bella-durmiente" 
          class="list-group-item list-group-item-action" target="_blank">La bella durmiente</a>        
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/la-bella-y-la-bestia" 
          class="list-group-item list-group-item-action" target="_blank">La bella y la bestia</a>
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/el-traje-nuevo-del-emperador" 
          class="list-group-item list-group-item-action" target="_blank">El traje nuevo del Emperador</a>
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/blancanieves" 
          class="list-group-item list-group-item-action" target="_blank">Blancanieves</a>
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/ricitos-de-oro-y-los-tres-osos" 
          class="list-group-item list-group-item-action" target="_blank">Ricitos de oro</a>
      <a href="https://www.cuentosdeprincesas.com/moana-vaiana-princesa-disney" 
          class="list-group-item list-group-item-action" target="_blank">Vaiana</a>
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/rapunzel" 
          class="list-group-item list-group-item-action">Rapunzel</a>

          
    </div>
  </body>
</html>
