<!DOCTYPE html>

<html>
  <head>
    <title>Los cuentos de Nerea</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="list-group">
      <a href="https://www.mundoprimaria.com/cuentos-infantiles-cortos/la-cenicienta" 
          class="list-group-item list-group-item-action">La Cenicienta</a>
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/la-sirenita"
          class="list-group-item list-group-item-action">La Sirenita</a>
      <a href="https://www.mundoprimaria.com/cuentos-infantiles-cortos/caperucita-roja"
         class="list-group-item list-group-item-action">Caperucita Roja</a>
      <a href="https://www.mundoprimaria.com/cuentos-infantiles-cortos/hansel-y-gretel" 
          class="list-group-item list-group-item-action">Hansel y Gretel</a>
      <a href="https://www.mundoprimaria.com/cuentos-infantiles-cortos/peter-pan" 
          class="list-group-item list-group-item-action">Peter Pan</a>
      <a href="https://www.mundoprimaria.com/cuentos-infantiles-cortos/los-tres-cerditos" 
          class="list-group-item list-group-item-action">Los tres cerditos</a>
      <a href="https://www.mundoprimaria.com/cuentos-infantiles-cortos/la-princesa-y-el-guisante" 
          class="list-group-item list-group-item-action">La princesa y el guisante</a>
      <a href="https://www.mundoprimaria.com/cuentos-infantiles-cortos/aladino-y-la-lampara-maravillosa" 
          class="list-group-item list-group-item-action">Aladdin</a>
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/la-bella-durmiente" 
          class="list-group-item list-group-item-action">La bella durmiente</a>        
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/la-bella-y-la-bestia" 
          class="list-group-item list-group-item-action">La bella y la bestia</a>
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/el-traje-nuevo-del-emperador" 
          class="list-group-item list-group-item-action">El traje nuevo del Emperador</a>
      <a href="http://www.cuentoscortos.com/cuentos-clasicos/blancanieves" 
          class="list-group-item list-group-item-action">Blancanieves</a>
      <a href="https://www.mundoprimaria.com/cuentos-infantiles-cortos/ricitos-de-oro" 
          class="list-group-item list-group-item-action">Ricitos de oro</a>
      <a href="https://www.cuentosdeprincesas.com/moana-vaiana-princesa-disney" 
          class="list-group-item list-group-item-action">Vaiana</a>
      <a href="https://www.mundoprimaria.com/cuentos-infantiles-cortos/rapunzel" 
          class="list-group-item list-group-item-action">Rapunzel</a>
    </div>
  </body>
</html>
