extends layout

block content
  div.centro
    h1= title
    p Welcome to #{title}
    form.marg-t-5(method="post" action="/insert")
        p
            | Nombre: 
            input(type='text', name='name', value='')
        p
            | URL: 
            input(type='text', name='apel', value='')
        input(type='submit', value='Insertar')
