extends layout

block content
    div.centro
        h1= title
        table(style='width:100%', border='0')
            for person in personList
                //div.uno
                tr 
                    td 
                        p #{person.nombre}  
                    td   
                        a(href="/ver/"+person.nombre)
                            img(src="./images/lapiz.png" alt="Image Title") 
                    td
                        a(href="/delete/"+person.nombre)
                            img(src="./images/borrar.png" alt="Image Title")  
