body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.centro {

  margin:auto;
  max-width: 400px;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  order-color: rgb(208, 233, 225);
  order-style: solid;
  ackground-color: rgb(208, 233, 225);
}

.tabla {

  margin:auto;
  max-width: 400px;
  text-align: center;

}

.uno {


  min-width: 200px;
  margin: 10px;
  text-align: center;
  border-radius: 5px;
  border-color: rgb(208, 233, 225);
  border-style: solid;
  background-color: rgb(208, 233, 225);
  padding: 10px;


}

a {

  padding: 10px;
}